[default]
region = garage-truenas
endpoint_url = http://192.168.0.200:30188
aws_access_key_id={{ onepasswordRead "op://homelab/garage-truenas-user/access-key-id" }}
aws_secret_access_key={{ onepasswordRead "op://homelab/garage-truenas-user/secret-access-key" }}

[minio]
endpoint_url = https://minio.chik4ge.me
aws_access_key_id={{ onepasswordRead "op://homelab/minio-user/access-key-id" }}
aws_secret_access_key={{ onepasswordRead "op://homelab/minio-user/secret-access-key" }}
