#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

brew bundle --file=/dev/stdin <<EOF

{{ range .packages.taps -}}
tap {{ .name | quote }}{{ if hasKey . "url" }}, {{ .url | quote }}{{ end }}
{{ end -}}

{{ range .packages.brews.common -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.casks.common -}}
cask {{ . | quote }}
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{ range .packages.brews.linux -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.brews.darwin -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.casks.darwin -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}

EOF
