#! /bin/bash
set -eu
cd $(dirname $0)/..

function install() {
    local cmd=$1
    if command -v $cmd &>/dev/null; then
        echo "$cmd is already installed"
    else
        echo "Installing $cmd"
        shift
        "$@"

        # check the exit code of the previous command
        # if [ $? -eq 0 ]; then
        #     echo "$cmd is installed"
        # else
        #     echo "installing $cmd failed"
        #     exit 1
        # fi
    fi
}

install brew /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ if eq .chezmoi.os "linux" -}}
install docker sudo sh -c "$(curl -fsSL https://get.docker.com)"
install zsh sudo apt install zsh -y
chsh -s $(which zsh)
{{ end -}}
