# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

{{ if eq .chezmoi.os "darwin" -}}
eval `gdircolors -b ~/.colorrc`
alias ls='LC_COLLATE=C gls --group-directories-first --color -h --time-style="+%Y-%m-%d %H:%M:%S"'
{{ else if eq .chezmoi.os "linux" -}}
eval `dircolors -b ~/.colorrc`
alias ls='ls -hv --color --group-directories-first --time-style="+%Y-%m-%d %H:%M:%S" '
{{ end -}}

alias ll='ls -AlF'
alias la='ls -AF'

alias cz='chezmoi'

alias lzg='lazygit'
alias lzd='lazydocker'

bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

zstyle ':completion:*' matcher-list 'm:{[:lower:]}={[:upper:]}'

export GPG_TTY=$(tty)

export SDKMAN_DIR=$(brew --prefix sdkman-cli)/libexec
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"

if [ ! -d "$HOME/.nvm" ]; then mkdir -p $HOME/.nvm; fi
export NVM_DIR="$HOME/.nvm"
[ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" # This loads nvm
[ -s "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" # This loads nvm bash_completion

eval "$(sheldon source)"

if which plenv > /dev/null; then eval "$(plenv init - zsh)"; fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
_fzf_comprun() {
  local command=$1
  shift

  case "$command" in
    cd)           fzf --preview 'tree -C {} | head -200'                       "$@" ;;
    export|unset) fzf --preview "eval 'echo \$'{}"                             "$@" ;;
    ssh)          fzf --preview 'dig {}'                                       "$@" ;;
    *)            fzf --preview 'bat -n --color=always --style=header,grid {}' "$@" ;;
  esac
}

{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}
